.messageBoardContainer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px;
  font-family: var(--font-dot-gothic16), Courier New, Courier, monospace;
  z-index: 10;
  width: 40%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.statLine {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  display: flex;
}

.label {
  font-weight: 700;
  width: 100px;
  flex-shrink: 0;
}

.value {
  margin-left: 0.5rem;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .messageBoardContainer {
    display: none;
  }
}
